body{
  background-color: #FFF  ;
  color: #000305;
  font-size: 100%;
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 2;
  text-align: center;
  width: 100%;
  margin: 0;
}


.header{
  background: rgba(255, 255, 255, 0.8);
  height: 60px;
  position: -webkit-sticky;
  position:sticky;
  top: 0px;
  font-size: 16px;

}


.tittelh1 {
  margin-top: 0px;
  font-family: trebuchet ms;

}

.elias{
  color: #FFF;
  font-weight: 500;
  background: #ED8F94;

}

.eliash1{
  font-family: trebuchet ms;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0px;
}

.eliastekst{
  padding-bottom: 40px;

  font-family: garamond;
  font-size: 16px;
  width: 80%
  center;
  margin-left: 10%;
  margin-right: 10%;
}

.kaius{

  color: #FFF;
  background: #599490;
}

.kaiush1{
  font-family: trebuchet ms;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.kaiustekst{

  margin-top: 0px;
  padding-bottom: 40px;
  font-family: garamond;
  font-size: 16px;
  width: 80%
  center;
  margin-left: 10%;
  margin-right: 10%;
}

.footer{
  background-color: #599490;
  height: 60px;
}

footer{
  width: 100%;
  height: 100%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #111;
}

footer p{
  color: #FFF;
  position: center;
}

a:link, a:visited {
  color: #ED8F94;
}

a {
  text-decoration: none;

}
